{% extends 'base.html.twig' %}

{% block title %}
    Info DB
{% endblock %}

{% block content %}
    <p>holi</p>
    {% for row in info %}
        <li>Usuario: {{ row.username }} </li>
    {% endfor %}
{% endblock %}