{% extends 'base.html.twig' %}

{% block title %}Joel{% endblock %}

{% block header %}
 {{ parent() }}
{% endblock %}

{% block content %}
    <h1>Testing controller</h1>

	{% if not isWarned %}
		<p>This site uses cookies...</p>
	{% endif %}

	<form
		enctype="multipart/form-data"
    	action="{{ path_for('joelLogin') }}"
    	method="POST">
    	<label>
	    	Username
	    	<input type="text" name="username" {% if name|length > 1 %}value={{ name }} {% endif %}>
	    </label>
	    <label>
	    	Password
	    	<input type="password" name="password">
	    </label>
		<label>
			File
			<input type="file" name="myfile">
		</label>
		<input type="submit" value="Login">

    </form>

    <p>You visited this page: {{ visits }} time(s).</p>
{% endblock %}


{% block footer %}
{% endblock %}
